<?xml version="1.0"?>
<robot name="your_rocket_name">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="/Users/alexpinel/Desktop/PyRocketCraft/Instinct V2 v3.stl" scale="2 2 2"/>
      </geometry>
      <material name="rocket_material">
        <color rgba="1 0 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/Users/alexpinel/Desktop/PyRocketCraft/Instinct V2 v3.stl" scale="2 2 2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="91"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>